<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../public/signuperror.css">
  <title>TechNews • Sign-up</title>
</head>
<body>

<!-- The Modal -->
<div id="id01" class="modal">

  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">
    <div class="container">
      <p>
        <h1><%- error.status %> </h1>
        <h3>Error type: <%- error.type %></h1> 
      </p>
    </div>

  </form>
</div>
</body>
</html>